
<div class="text-center">
    <h1 class="display-4">Soy Enrique Agraso</h1>

    <h2> Soy un desarrolador full stack especializado en Mecanica Automotriz</h2>

    <img id="foto"
         src="~/imagenes/foto.png" alt="Imagen de Enrique" />
</div>

<div class="text-center">
    <img id="imagen-dotnet"
         src="~/imagenes/dotnet-imagen-2.png" alt="Logo" />
</div>