@{
    ViewData["Title"] = "Gracias";
}

<h1 class="text-center">Gracias por ponerte en contacto conmigo</h1>
<p class="text-center">Te contestaré el mensaje lo más pronto posible</p>
<div><a asp-controller="Home" asp-action="Index">Volver al Home</a></div>
